# Exemplo de variaveis de ambiente
INFOBIP_API_KEY=SEU_TOKEN_AQUI
INFOBIP_BASE_URL=seu-subdominio.api-us.infobip.com
PORT=3001
PUBLIC_BASE_URL=https://seu-dominio-publico.exemplo
INTERNAL_API_KEY=sua-senha-secreta-aqui
