# Exemplo de variaveis de ambiente
INFOBIP_API_KEY=96d0fce5b862abec303f3f93a5b387c4-ebdf2505-7613-4c33-8e8a-62a0acbb7bf0
INFOBIP_BASE_URL=38x6pj.api-us.infobip.com
INFOBIP_SENDER=5511999999999
PORT=3001
PUBLIC_BASE_URL=https://seu-dominio-publico.exemplo
